---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import { features, plugins } from "../utils/content";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Unipay - Universal payment gateway make it easy to integrate payment
            gateways into your Node.js application.
        </title>
        <link rel="shortcut icon" href="/img/gaman-big.png" type="image/png" />
    </head>
    <body class="bg-stone-950 text-pink-100 overflow-x-hidden">
        <Navbar />

        <main>
            <!-- START: Hero Content -->
            <div
                class="h-screen flex items-center justify-center px-6 relative"
            >
                <!-- Background Glow -->
                <div
                    class="absolute -top-10 -left-10 w-72 h-72 bg-pink-500 rounded-full opacity-20 blur-3xl animate-pulse"
                >
                </div>
                <div
                    class="absolute bottom-0 right-0 w-80 h-80 bg-purple-500 rounded-full opacity-20 blur-3xl animate-pulse"
                    style="animation-delay: 2s;"
                >
                </div>

                <div
                    class="container grid grid-cols-1 md:grid-cols-2 gap-10 items-center relative z-10"
                >
                    <!-- Text -->
                    <div class="text-center md:text-left">
                        <h1
                            class="text-4xl md:text-6xl font-extrabold mb-6 leading-tight"
                        >
                            Universal <span
                                class="from-pink-400 to-purple-400 bg-gradient-to-r bg-clip-text text-transparent"
                                >payment gateway</span
                            > make it easy to integrate
                        </h1>
                        <p class="description mb-8">
                            GamanJS is a modern backend framework built for
                            resilience, scalability, simplicity adn blazing
                            performance for your backend apps.
                        </p>
                        <div
                            class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start items-center"
                        >
                            <a
                                href="/getting-started"
                                class="bg-gradient-to-r from-pink-500 to-purple-500 px-6 py-3 rounded-full font-semibold text-white hover:shadow-xl hover:shadow-pink-500/50 transition-transform transform hover:scale-110"
                            >
                                Get Started
                            </a>
                            <a
                                href="/"
                                class="border-2 border-pink-400 px-6 py-3 rounded-full font-semibold text-pink-200 hover:border-purple-400 hover:bg-pink-500/10 transition-all duration-300"
                            >
                                View Docs
                            </a>
                        </div>
                    </div>

                    <!-- Image -->
                    <div class="hidden md:flex justify-center">
                        <img
                            src="/img/gaman.png"
                            alt="GamanJS"
                            class="max-w-md md:max-w-lg drop-shadow-[0_0_30px_rgba(236,72,153,0.5)]"
                        />
                    </div>
                </div>
            </div>
            <!-- END: Hero Content -->

            <!-- START: Key Features -->
            <section class="relative">
                <div class="container relative z-10">
                    <h2 class="section-title max-w-2xl mx-auto text-center">
                        Why <span
                            class="from-pink-400 to-purple-400 bg-gradient-to-r bg-clip-text text-transparent"
                            >Developers</span
                        >
                        Choose <span
                            class="from-purple-400 to-pink-400 bg-gradient-to-r bg-clip-text text-transparent"
                            >GamanJS</span
                        >
                    </h2>

                    <p
                        class="section-subtitle text-center max-w-lg mx-auto mt-6"
                    >
                        {features.description}
                    </p>

                    <!-- START: List Features -->
                    <div
                        class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 mt-10"
                    >
                        {
                            features.items.map((item) => {
                                const Icon = item.icon;

                                return (
                                    <div class="card gap-4">
                                        <Icon class=" text-purple-400" />
                                        <div>
                                            <h3 class="text-xl md:text-2xl font-semibold mb-4">
                                                {item.title}
                                            </h3>
                                            <p>{item.text}</p>
                                        </div>
                                    </div>
                                );
                            })
                        }
                    </div>
                    <!-- END: List Features -->
                </div>

                <!-- background glow -->
                <div
                    class="absolute bottom-0 left-0 w-80 h-72 bg-gradient-to-br from-purple-500 to-pink-500 opacity-20 blur-3xl animate-pulse"
                >
                </div>
                <!-- <div
        class="absolute -bottom-20 right-0 w-[25rem] h-[28rem] bg-pink-500 opacity-20 animate-pulse blur-3xl"
        style="animation-delay: 2s;"
      > -->
            </section>
            <!-- END: Key Features -->

            <!-- START: Plugins -->
            <section class="relative">
                <div class="container relative z-10">
                    <h2 class="section-title text-center max-w-2xl mx-auto">
                        Extend <span
                            class="from-pink-400 to-purple-400 bg-gradient-to-r bg-clip-text text-transparent"
                            >GamanJS</span
                        >
                        without touching <span
                            class="from-purple-400 to-pink-400 bg-gradient-to-r bg-clip-text text-transparent"
                            >the core</span
                        >
                    </h2>

                    <p
                        class="section-subtitle text-center max-w-lg mx-auto mt-6"
                    >
                        {plugins.description}
                    </p>

                    <!-- START: List Plugins -->
                    <div
                        class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-6 mt-10"
                    >
                        {
                            plugins.items.map((item) => {
                                const Icon = item.icon;

                                return (
                                    <div class="card flex-col gap-4">
                                        <div class="flex items-center justify-center w-12 h-12 rounded-xl bg-gradient-to-br from-pink-400/40 to-purple-400/30">
                                            <Icon class=" text-purple-300" />
                                        </div>
                                        <div>
                                            <h3 class="text-xl md:text-2xl font-semibold mb-4">
                                                {item.title}
                                            </h3>
                                            <p>{item.text}</p>
                                        </div>
                                    </div>
                                );
                            })
                        }
                    </div>
                    <!-- END: List Features -->
                </div>

                <!-- background glow -->
                <div
                    class="absolute bottom-0 right-0 w-80 h-72 bg-gradient-to-br from-purple-500 to-pink-500 opacity-20 blur-3xl animate-pulse"
                >
                </div>
                <!-- <div
        class="absolute -bottom-20 right-0 w-[25rem] h-[28rem] bg-pink-500 opacity-20 animate-pulse blur-3xl"
        style="animation-delay: 2s;"
      > -->
            </section>
            <!-- END: Plugins -->
        </main>
    </body>

    <Footer />
</html>
